<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>dormitory_web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
   <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>edu.school.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.school.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WskhServlet</display-name>
    <servlet-name>WskhServlet</servlet-name>
    <servlet-class>edu.school.servlet.WskhServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WskhServlet</servlet-name>
    <url-pattern>/WskhServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RydjServlet</display-name>
    <servlet-name>RydjServlet</servlet-name>
    <servlet-class>edu.school.servlet.RydjServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RydjServlet</servlet-name>
    <url-pattern>/RydjServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>edu.school.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>QcshServlet</display-name>
    <servlet-name>QcshServlet</servlet-name>
    <servlet-class>edu.school.servlet.QcshServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QcshServlet</servlet-name>
    <url-pattern>/QcshServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>BoardServlet</display-name>
    <servlet-name>BoardServlet</servlet-name>
    <servlet-class>edu.school.servlet.BoardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardServlet</servlet-name>
    <url-pattern>/BoardServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <description></description>
    <display-name>RecordServlet</display-name>
    <servlet-name>RecordServlet</servlet-name>
    <servlet-class>edu.school.servlet.RecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecordServlet</servlet-name>
    <url-pattern>/RecordServlet</url-pattern>
  </servlet-mapping>
  

      <servlet>
    <description></description>
    <display-name>StudentServlet</display-name>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>edu.school.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  

      <servlet>
    <description></description>
    <display-name>DormitoryServlet</display-name>
    <servlet-name>DormitoryServlet</servlet-name>
    <servlet-class>edu.school.servlet.DormitoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DormitoryServlet</servlet-name>
    <url-pattern>/DormitoryServlet</url-pattern>
  </servlet-mapping>

      <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>edu.school.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>